:root{
    --background-color: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --text-white: hsl(0, 0%, 100%);
    --text-cyan: hsl(178, 100%, 50%);
    --text-dark-blue: hsl(215, 51%, 70%);
}

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    background: var(--background-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 480px;
    width: 300px;
    background: var(--card-bg);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.Equilibrium{
    margin-top: 25px;
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

.text{
    margin: 20px 0px;
    width: 250px;
    font-family: 'Outfit', sans-serif;
}

span{
    display: block;
}

.line1{
    font-weight: 600;
    color: var(--text-white);
    font-size: 18px;
    padding-bottom: 10px;
}

.line2{
    font-weight: 400;
    font-size: 14.5px;
    color: var(--text-dark-blue);
    padding: 0px 5px 0px 0px;
    line-height: 1.5;
}

.line3{
    height: 16px;;
    margin: 0px;
    font-size: 14.5px;
    padding: 10px 0px 15px 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.75px solid var(--text-dark-blue);
}

.eth,
.clock{
    display: flex;
    height: 16px;
    align-items: center;
}

.eth{
    color: var(--text-cyan);
}

.clock{
    color: var(--text-dark-blue);
}

.icon{
    height:15px;
    width: auto;
}

.line4{
    display: flex;
    padding-top: 15px;
    align-items: center;
}

.avatar,
.creator,
.creator span{
    display: inline-flex;
    font-size: 14.5px;
}

.avatar{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid var(--text-white);
    overflow: hidden;
}

.avatar img{
    height: 25px;
    width: auto;
}

.creator{
    color: var(--text-dark-blue);
    padding-left: 10px;

}

.creator span{
    color: var(--text-white);
}







